# Building packages with prior python versions on MacOS sometimes requires setting the following environment variables


# export PATH=$(brew --prefix libpq)/bin:$PATH
# export LDFLAGS+=" -L/$(brew --prefix libpq)/lib"
# export CPPFLAGS+=" -I/$(brew --prefix libpq)/include"
# export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:$(brew --prefix libpq)/lib/pkgconfig"

# export LDFLAGS+=" -L/$(brew --prefix openssl)/lib"
# export CPPFLAGS+=" -I/$(brew --prefix openssl)/include"