[package]
name = "mountaineer"
version = "0.1.2"
edition = "2021"

[dependencies]
v8 = "0.82.0"
lazy_static = "1.4.0"
pyo3 = { version = "0.20", features = ["extension-module"] }
log = "0.4"
env_logger = "0.9"

# Thread cancellation needs OS bindings
libc = "0.2"
winapi = { version = "0.3", features = ["processthreadsapi"] }

[dev-dependencies]
criterion = { version = "0.4", features = ["html_reports"] }

[profile.release]
opt-level = 3
debug = false
lto = true
incremental = false

[package.metadata.maturin]
name = "mountaineer"

[[bench]]
path = "src/benches/source_map_benchmark.rs"
name = "source_map_benchmark"
harness = false

[[bench]]
path = "src/benches/ssr_benchmark.rs"
name = "ssr_benchmark"
harness = false
