[tool.poetry]
name = "mountaineer"
version = "0.1.0"
description = ""
authors = ["Pierce Freeman <pierce@freeman.vc>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "^2.5.3"
fastapi = "^0.109.0"
inflection = "^0.5.1"
click = "^8.1.7"
tqdm = "^4.66.1"
uvicorn = { extras = ["standard"], version = "^0.27.0.post1" }
packaging = "^23.2"
pydantic-settings = "^2.1.0"
sqlmodel = "^0.0.14"
asyncpg = "^0.29.0"
sqlalchemy = { extras = ["asyncio"], version = "^2.0.26" }

# TODO: Move to optional dependencies, since release configurations
# will not need these.
watchdog = "^3.0.0"

[tool.poetry.group.dev.dependencies]
mypy = "^1.8.0"
pytest = "^7.4.4"
ruff = "^0.1.14"
types-setuptools = "^69.0.0.20240125"
maturin = "^1.4.0"
types-tqdm = "^4.66.0.20240106"
pytest-asyncio = "^0.23.4"
pyinstrument = "^4.6.2"
httpx = "^0.27.0"
types-psycopg2 = "^2.9.21.20240218"

[build-system]
requires = ["maturin>=1.3.0"]
build-backend = "maturin"

[tool.mypy]
warn_return_any = true
warn_unused_configs = true
check_untyped_defs = true
plugins = ["pydantic.mypy"]

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Disable print statements
select = ["E4", "E7", "E9", "F", "I001", "T201"]

[project]
# Maintaned just for local installation / testing purposes with venvironments
# since these can't pick up poetry's data definitions
name = "mountaineer"
dependencies = [
    "pydantic",
    "fastapi",
    "inflection",
    "click",
    "tqdm",
    "uvicorn[standard]",
    "packaging",
    "watchdog",
    "pydantic-settings",
    "sqlmodel",
    "asyncpg",
    "sqlalchemy[asyncio]",
]
