version: "3.8"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: {{project_name}}
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: {{project_name}}_db
    ports:
      - "{{postgres_port}}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
